# Auto detect text files and perform LF normalization
* text=auto
CA2/Extra/HO2-20241124.zip filter=lfs diff=lfs merge=lfs -text
CA2/Extra/HO2-20241124/Discriminant_Function.mp4 filter=lfs diff=lfs merge=lfs -text
